# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Docker
postgres_data/

# Alembic Cache
alembic/versions/__pycache__/
alembic/__pycache__/